* {
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 25vh;
    display: inline-block;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #0B1680;
}

.navbar {
    width: 100vw;
    display: inline-block;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #0B1680;
}

.navbar-item > img {
    vertical-align: middle;
    margin: 10px 10px;
}

.navbar-item {
    text-decoration: none;
    color: #b4afaf;
    font-family: 'OPTIFrome';
}

.navbar-item:hover {
    color:purple;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100vw;
    justify-content: center;
    vertical-align: middle;
    list-style: none;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
    vertical-align: middle;
    list-style: none;

}

.navbar-logo {
    justify-content: right;
}

.navbar-links {
    justify-content: right;
    vertical-align: middle;
}